version: '3.8'
services:
  client:
    build: .
    container_name: react-todo-container
    ports:
      - "5173:5173"
    depends_on:
      - api

  api:
    build: ./backend
    container_name: backend-container
    ports:
      - "3000:3000"
